*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width:100%;
}

h1{
    font-size: larger;
}

.lien-encadre{
    border: #ee5b83 solid 1px;
    padding: 0.5em 1em;
    color: #ee5b83;
    text-decoration: none;
    font-size: large;
}

body{
    background: linear-gradient(#b68540, #ee5b83);
    width: 100%;
}

#container{
    width: 85%;
    margin: auto;
}

/* trait sous les titres */
.titre-trait{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trait{
    height: 1px;
    width: 50px;
    margin: 0.5em 0px;
    border: solid 1px;
    border-color:  #da607e;
}

hr{
    border-top: 1px solid #d8d8d8;
    color: white;
}

/* header */

header{
    display: flex;
}

header figure{
    width: 30%;
    display: flex;
    justify-content: center;
}

header figure img{
    width: 100px;
    margin: 5px;
}

header nav{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

header nav a{
    color: white;
    align-self: center;
}

#receptacle-burger{
    width: 10%;
    position: relative;
}

/* menu burger maison */
.menu-burger{
    height: 5px;
    width: 25px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 10%;
}

.menu-burger::before{
    content: '';
    position: absolute;
    top: -8px;
    height: 5px;
    width: 25px;
    background-color: white;
}

.menu-burger::after{
    content: '';
    position: absolute;
    top: 8px;
    height: 5px;
    width: 25px;
    background-color: white;
}

/*toutes les sections incluses dans le main*/
main{
    background-color: white;
}

#banner{
    width: 100%;
    position: relative;
}

#banner figure{
    width: 100%;
}

#banner img{
    height: 350px;
    object-fit: cover;
}


#banner article{
    /* mise en position absolu de l'article pour qu'il se mette sur l'image, et formatage de la taille pour qu'elle reste à une certaine position */
    position: absolute;
    height: 65%;
    width: 60%;
    top: 25%;
    left: 20%;
    /* utilisation du flex pour placer le text dans la box article */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    text-shadow: black 2px 2px;
}

#banner a{
    color: white;
   border-color: white;
}

/* section promotion */

#promotion{
    width: 100%;
    display: flex;
    padding: 4% 8%;
}

#promotion .colonne{
    width: 30%;
    margin: 1.5%;
}

.colonne h2{
    font-size: x-large;
    margin: 1em auto;
}

.colonne p{
    margin: 1em auto;
}

.image-argument{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1em;
}

.image-argument i{
    width: 20%;
    text-align: center;
    margin: auto;
}

.argument{
    width: 75%;
}

.etendable{
    border: solid 1px black;
    margin: 1em auto;
    display: flex;
    padding: 0.3em 0.5em 0.3em 0.3em;
}

.etendable i{
    width: 20%;
    text-align: center;
}

.argument-etendable{
    width: 80%;
}

.argument-etendable h4{
    font-size: 1.1em;
}

.colonne i, .colonne a{
    color:#ee5b83;
    text-decoration: none;
}

/* section multimedia */

#multimedia figure{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#multimedia figure img{
    width: 25%;
}

#menu-multimedia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em;
}

#menu-multimedia nav{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

#menu-multimedia a{
    text-decoration: none;
    color: #b4b4b4;
}

#menu-multimedia .lien-encadre{
    color: #ee5b83;
}

#menu-multimedia .lien-actuel{
    color: #ee5b83;
}

/* testimonial */

#testimonial .container{
    margin: 2em 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonial .commentaire{
    display: flex;
    flex-direction: row;
    margin: 1em;
}

#testimonial .commentaire-paire{
    display: flex;
    flex-direction: row-reverse;
    margin: 1em;
    text-align: right;  
}

#testimonial figure img{
    min-width: 100px;
    min-height: 100px;
}

#testimonial .citation{
    width: auto;
    margin: auto 1em;
}

#testimonial blockquote{
    font-style: italic;
    font-size: 1.3em;
    font-weight: lighter;
}

#testimonial figcaption{
    margin: 1em 0em;
    font-style: italic;
}

#testimonial .name{
    font-weight: bolder;
    font-style: normal;
}

/* new horizon */


#new-horizons-await{
    /* effet paralaxe */
    background-image: url("../image/background/ciel-etoile-vibes.jpg");

    /* taille minimum pour avoir de la marge */
    min-height: 350px;

    /* creation de l'effet de scroll fixé */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#new-horizons-await h1, #new-horizons-await p, #new-horizons-await a{
    color: white;
}

#new-horizons-await p{
    width: 60%;
    text-align: center;
}

/* Formulaire inscription*/

#inscription{
    margin: 2em;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#inscription em{
    color:#ee5b83;
}

#inscription form{
    display: flex;
    flex-direction: row;
    height: 60%;
}

#inscription form div{
    width: 100%;
    height: auto;
}

.block-text-input{
    padding: 0em 1em;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    font-weight: lighter;
    height: 33%;
}

.block-text-input input{
    border: none;
    background-color: #eeeeee;
    height: 30px;
}

.block-text-input span{
    margin-top: 1em;
}

#textarea{
    height: 66%;
}

#textarea textarea{
    height: 84px;
    border: none;
    background-color: #eeeeee;
}

#send{
    color: white;
    background-color: #ee5b83;
    border: none;
    padding: 0.5em 1em;
    font-weight: bold;
}

#ligne-bouton{
    display: flex;
    flex-direction: row;
    margin: 0.7em 0em;
}

#ligne-bouton div{
    width: 50%;
    padding: 0em 0.7em;
}

/* about-us */

#about-us{
    display: flex;
    flex-direction: row;
    padding: 5em 10%;
    background-color: #161616;
    color: white;
}

#about-us div{
    width: 30%;
    padding: 0em 1em;
    font-size: 0.7em;
}

#about-us .trait{
    width: 30px;
}

#about-us div p{
    padding: 1em 0em;
}

#about-us div strong{
    font-weight: 900;
}

#about-us a{
    text-decoration: none;
    color: #ee5b83;
}

#mail-address{
    background-color: #2e2e2e;
    border: none;
    color: white;
    padding: 0.5em;
    width: 100%;
}

#about-us .lien-encadre{
    background-color: #161616;
    color: white;
    margin: 0.5em 0em;
}

/* footer */

footer{
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 1em;
    font-size: 0.7em;
}

footer a{
    text-decoration: white;
    color: white;
}













