*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width:100%;
}

h1{
    font-size: larger;
}

.lien-encadre{
    border: #ee5b83 solid 1px;
    padding: 0.5em 1em;
    color: #ee5b83;
}

body{
    background: linear-gradient(#b68540, #ee5b83);
    width: 100%;
}

#container{
    width: 85%;
    margin: auto;
}

/* header */

header{
    display: flex;
}

header figure{
    width: 30%;
    display: flex;
    justify-content: center;
}

header figure img{
    width: 100px;
    margin: 5px;
}

header nav{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

header nav a{
    color: white;
    align-self: center;
}

#receptacle-burger{
    width: 10%;
    position: relative;
}

/* menu burger maison */
.menu-burger{
    height: 5px;
    width: 25px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 10%;
}

.menu-burger::before{
    content: '';
    position: absolute;
    top: -8px;
    height: 5px;
    width: 25px;
    background-color: white;
}

.menu-burger::after{
    content: '';
    position: absolute;
    top: 8px;
    height: 5px;
    width: 25px;
    background-color: white;
}

/*toutes les sections incluses dans le main*/
main{
    background-color: white;
}

#banner{
    width: 100%;
    position: relative;
}

#banner figure{
    width: 100%;
}

#banner img{
    height: 350px;
    object-fit: cover;
}


#banner article{
    /* mise en position absolu de l'article pour qu'il se mette sur l'image, et formatage de la taille pour qu'elle reste à une certaine position */
    position: absolute;
    height: 55%;
    width: 60%;
    top: 40%;
    left: 20%;
    /* utilisation du flex pour placer le text dans la box article */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    text-shadow: black 2px 2px;
}

#banner a{
    text-decoration: none;
    color: white;
    padding: 4px;
    border: solid 1px;
}

/* section promotion */

#promotion{
    width: 100%;
    display: flex;
    padding: 4% 8%;
}

#promotion .colonne{
    width: 30%;
    margin: 1.5%;
}

.colonne h2{
    font-size: x-large;
    margin: 1em auto;
}

.colonne p{
    margin: 1em auto;
}

.image-argument{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1em;
}

.image-argument i{
    width: 20%;
    text-align: center;
    margin: auto;
}

.argument{
    width: 75%;
}

.etendable{
    border: solid 1px black;
    margin: 1em auto;
    display: flex;
    padding: 0.3em 0.5em 0.3em 0.3em;
}

.etendable i{
    width: 20%;
    text-align: center;
}

.argument-etendable{
    width: 80%;
}

.argument-etendable h4{
    font-size: 1.1em;
}

.colonne i, .colonne a{
    color:#ee5b83;
    text-decoration: none;
}

/* section multimedia */

#multimedia figure{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#multimedia figure img{
    width: 25%;
}

#menu-multimedia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em;
}

#menu-multimedia nav{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

#menu-multimedia a{
    text-decoration: none;
    color: #b4b4b4;
}

#menu-multimedia .lien-encadre{
    color: #ee5b83;
}

#menu-multimedia .lien-actuel{
    color: #ee5b83;
}

/* testimonial */

#testimonial .container{
    margin: 1em 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonial .commentaire{
    display: flex;
    flex-direction: row;
    margin: 1em;
}

#testimonial .commentaire-paire{
    display: flex;
    flex-direction: row-reverse;
    margin: 1em;
    text-align: right;
}

#testimonial figure{
    width: 10%;
}

#testimonial .citation{
    width: 90%;
    margin: auto 1em;
}









