*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width:100%;
}

h1{
    font-size: larger;
}

body{
    background: linear-gradient(#d1933d, #d1456f);
    width: 100%;
}

#container{
    width: 85%;
    margin: auto;
}

/* header */

header{
    display: flex;
}

header figure{
    width: 30%;
    display: flex;
    justify-content: center;
}

header figure img{
    width: 100px;
    margin: 5px;
}

header nav{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

header nav a{
    color: white;
    align-self: center;
}

#receptacle-burger{
    width: 10%;
    position: relative;
}

/* menu burger maison */
.menu-burger{
    height: 5px;
    width: 25px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 10%;
}

.menu-burger::before{
    content: '';
    position: absolute;
    top: -8px;
    height: 5px;
    width: 25px;
    background-color: white;
}

.menu-burger::after{
    content: '';
    position: absolute;
    top: 8px;
    height: 5px;
    width: 25px;
    background-color: white;
}

/*toutes les sections incluses dans le main*/
main{
    background-color: azure;
}

#banner{
    width: 100%;
    position: relative;
}

#banner figure{
    width: 100%;
}

#banner img{
    height: 350px;
    object-fit: cover;
}


#banner article{
    /* mise en position absolu de l'article pour qu'il se mette sur l'image, et formatage de la taille pour qu'elle reste à une certaine position */
    position: absolute;
    height: 55%;
    width: 60%;
    top: 40%;
    left: 20%;
    /* utilisation du flex pour placer le text dans la box article */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    text-shadow: black 2px 2px;
}

#banner a{
    text-decoration: none;
    color: white;
    padding: 4px;
    border: solid 1px;
}

/* section promotion */

#promotion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 4% 8%;
}

#promotion .colonne{
    width: 30%;
    margin: 1.5%;
    background-color: red;
}

/* #promotion h2{
h
} */







